<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
          <div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Price
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="sortByLowToHigh()">Low to High</a></li>
                <li><a class="dropdown-item" (click)="sortByHighToLow()">High to Low</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="selectedProductId.length>0;else noProducts">
          <div *ngFor="let product of selectedProductId;let i=index">
            <div class="card rounded-3 mb-4">
              <div class="card-body p-4">
                <div class="row d-flex justify-content-between align-items-center">
                  <div class="col-md-2 col-lg-2 col-xl-2">
                    <img [src]="product.image" class="img-fluid rounded-3" alt="Product Image"
                      style="height: 100px;padding-left: 20px;">
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-3">
                    <p class="lead fw-normal mb-2">{{product.title}}</p>
                    <p class="text-muted m-0 fw-bold">Rating: {{ product?.rating?.rate }}</p>
                    <p class="text-muted m-0 fw-bold fs-6">Stock Left: {{ '('+product.rating.count+')' }}</p>
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                    <button class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                      <i class="fas fa-minus"></i>
                    </button>
                    <input id="form1" min="0" name="quantity" value="2" type="number"
                      class="form-control form-control-sm" />
                    <button class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                    <h5 class="mb-0">${{product.price}}</h5>
                  </div>
                  <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                    <a (click)="removeItem(i)" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                  </div>     
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noProducts>
          <div class="text-center">
            <img src="assets/img/emptycart.webp" alt="Placeholder Image" style="height: 45vh;">
            <p>No products available</p>
          </div>
        </ng-template>
        <div class="card mb-4">
          <div class="card-body p-4 d-flex flex-row">
            <div class="form-outline flex-fill">
              <input type="text" class="form-control form-control-lg" placeholder="Get Extra discount" />
              <label class="form-label">Discound code</label>
            </div>
            <button type="button" class="btn btn-outline-danger btn-lg ms-3 h-50">Apply</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <button type="button" class="btn btn-success btn-block btn-lg" routerLink="/child">Proceed to Pay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
