<div class="container" [ngClass]="{'sign-up-mode': signUpMode}">
  <div class="forms-container">
    <div class="signin-signup">
      <form *ngIf="!signUpMode" class="sign-in-form">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" #loginusername placeholder="Username" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" #loginpassword placeholder="Password" />
        </div>
        <button type="submit" (click)="signIn()" class="btn solid">Login</button>
        <p class="error-message" *ngIf="loginError">Incorrect username or password. Please try again.</p>
        <p class="social-text">Or Sign in with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
      <form *ngIf="signUpMode" class="sign-up-form">
        <h2 class="title">Sign up</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input #username type="text" placeholder="Username" />
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input #email type="email" placeholder="Email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input #password type="password" placeholder="Password" />
        </div>
        <button type="submit" class="btn" (click)="signUp()">Sign up</button>
        <p class="social-text">Or Sign up with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>New here ?</h3>
        <p>Don't have an account yet ? Sign up and get access to all our services.</p>
        <button class="btn transparent" (click)="toggleMode(true)" id="sign-up-btn">Sign up</button>
      </div>
      <img src="assets/log.svg" class="image" alt="" />
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>One of us ?</h3>
        <p>Already made an account here? Sign in and get access to all our services.</p>
        <button class="btn transparent" (click)="toggleMode(false)" id="sign-in-btn">Sign in</button>
      </div>
      <img src="assets/register.svg" class="image" alt="" />
    </div>
  </div>
</div>
